.MainPopup {
  width: 500px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 50px;
  padding: 10px;

  border: 2px solid #00A000;
  background-color: #DDFFDD;

  &__header {
    font-style: italic;
  }
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  padding: 10px;
  height: 100vh;
  border-right: 1px #000000 solid;
  background-color: darkseagreen;
  transition: 2s;

  &.ng-hide-add {
    left: 0;
  }
  &.ng-hide-add-active {
    left: -220px;
  }

  &.ng-hide-remove {
    left: -220px;
  }
  &.ng-hide-remove-active {
    left: 0px;
  }
}
